// star wars like button with a hover effect that looks like a lightsaber turning on


.btn {
    background-color: #ffff;
    border: 1px solid black;
    border-radius: 0;
    color: #000;
    font-family: 'starjediregular', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .3rem;
    line-height: .9;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #a6cde8;
        color: #ffff;
        cursor: pointer;
    }
}

#menu { 
    display: none;
}

